{% extends 'base.html' %}

{% block title %}
  <title>{{ title | capitalize }}</title>
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form id="goal-form" onsubmit="createGoal(event)">
                <div class="row mb-3">
                    <h5 class="text-center">Create saving goal</h5>
                </div>

                <div class="row mb-3">
                    <div class="col-12">
                        <span class="form-hint">Name*:</span>
                    </div>
                    <div class="col-12">
                        <input type="text" name="name" class="form-control text-center" required>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-12">
                        <span class="form-hint">Description:</span>
                    </div>
                    <div class="col-12">
                        <input type="text" name="description" class="form-control text-center">
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-12">
                        <span class="form-hint">Current amount*:</span>
                    </div>
                    <div class="col-12">
                        <input type="number" name="current_amount" class="form-control text-center" required>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-12">
                        <span class="form-hint">Target amount*:</span>
                    </div>
                    <div class="col-12">
                        <input type="number" name="target_amount" class="form-control text-center" required>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-12">
                        <span class="form-hint">Start date:</span>
                    </div>
                    <div class="col-12">
                        <input type="date" name="start_date" class="form-control text-center">
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-12">
                        <span class="form-hint">Target date*:</span>
                    </div>
                    <div class="col-12">
                        <input type="date" name="target_date" class="form-control text-center" required>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-primary">
                            <span>+ Create goal</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>
        window.successRedirectUrl = "{{ success_redirect_url }}";
        window.apiCreateUrl = "{{ api_create_url }}";
    </script>
    <script src="/static/js/createGoal.js"></script>
{% endblock %}
