{% extends 'base.html' %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}
    <div class="row justify-content-center tx-info">
        <div class="row col-12">
            <h5>{{ categories_type | capitalize }} categories</h5>
        </div>
        <div class="col-md-6">
            <ul class="list-group">
                {% for category in categories %}
                    <li class="list-group-item p-0">
                        <div class="p-3"><b>{{ category.category_name }}</b>
                        </div>
                        <div class="d-flex p-3 pt-0 align-items-center">
                            <form id="tx-category-update-form"
                                  class="d-flex flex-grow-1 me-2"
                                  onsubmit="updateTxCategory(event, '{{ category.category_name }}')">
                                <div class="input-group">
                                    <input type="text" name="category_name"
                                           placeholder="New category name"
                                           class="form-control">
                                    <button type="submit"
                                            class="btn btn-primary">Update name
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="d-flex p-3 pt-0 align-items-center">
                            <form id="tx-category-delete-form" class="d-flex flex-grow-1 me-2" onsubmit="deleteTxCategory(event, '{{ category.category_name }}')">
                                <select class="form-select text-center" name="handle_spendings_on_deletion">
                                    {% for action in on_delete_actions %}
                                        <option value="{{ action }}">{{ action }}</option>
                                    {% endfor %}
                                    <input type="text" name="new_category_name" placeholder="*" class="form-control">
                                </select>
                                <button type="submit" class="btn btn-danger delete-btn">
                                    🆇 Delete {{ transaction_type }}
                                </button>
                            </form>
                        </div>
                        <span class="text-size-10">* Specify the category name here, if you have selected "TO_EXISTS_CATEGORY" or "TO_NEW_CATEGORY", this will help you not lose transactions of the deleted category.</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <script>
        window.apiDeleteTxCategoryUrl = "{{ api_delete_tx_category_url }}"
        window.apiUpdateTxCategoryUrl = "{{ api_update_tx_category_url }}"
    </script>
    <script src="/static/js/deleteTransactionCategory.js"></script>
    <script src="/static/js/updateTransactionCategory.js"></script>
{% endblock %}